.container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.card-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.total-items {
  padding-inline-end: 1%;
  font-size: 0.9rem;
}

.logo {
  padding-inline-start: 1%;
  height: 60%;
}

.characters-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.loading {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.has-more {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.body-home {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
